<h1>My tasks</h1>

<% @tasks.each do |task| %>

<% if task.completed %>
<input style="display: inline" type="checkbox" name="completed" checked><h3 style="display: inline"><%= link_to task.title, task_path(task) %></h3>
<% else %>
<input style="display: inline" type="checkbox" name="completed"><h3 style="display: inline"><%= link_to task.title, task_path(task) %></h3>
<% end %>


  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</p>
<% end %>

<hr>

<p><%= link_to "Add a new task", tasks_new_path %></p>
